

body {
  background-color: #f7cac9;
  align-items: center;
  justify-content: center;
  font-family: "Courier New";
}

ul {
  list-style-type: none;
  margin: 0px -10px;
  overflow: hidden;
  background-color: #eca1a6;

  z-index: 10;
}

ul li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #d64161;
}

.active {
  background-color: #d64161;
}

ul {
  position: fixed;
  top: 0;
  width: 100%;
}

main aside {
  color: white;
  margin-top: 20px;
  margin-left: 20px;
}

.titre { 
  text-align: center;
  margin-top: 70px;
  color: white;
  font-family: fantasy;
  letter-spacing: 5px;
  font-size: 50px;
}


.info1 {
  text-align: center;
  margin-bottom: 10px;
  color: white;
}

.roundedImage{
    position: relative;
    overflow:hidden;
    -webkit-border-radius:50px;
    -moz-border-radius:50px;
    border-radius:500px;
    width:300px;
    height:300px;
    margin-left: auto;
    margin-right: auto;
    border: solid 8px white;

    z-index: 0;
  }



.titre2 {
  text-align: center;
  margin-top: 90px;
  color: #d64161;
}

table {
  margin: auto;
}


.titreExp {
  color : white;
  padding-top: 20px;
  padding-bottom: 20px;
  text-decoration : underline;
}

td {
  text-align: left;
  color: white;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.cadre{
  position: absolute;
  left: 473px;
  bottom: 84px;
  width: 330px;
  height: 320px;

  border-radius: 50%;
  background: linear-gradient(#14ffe9, #ffeb3b, #ff00e0);
  animation: animate 0.9s linear infinite;

  z-index: 0;
}

@keyframes animate{
  0%
  {
    transform: rotate(0deg);
  }
  100%
  {
    transform: rotate(360deg);
  }
}

.cadre span{
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: linear-gradient(#14ffe9, #ffeb3b, #ff00e0);
}

.cadre span:nth-child(1){
  filter: blur(5px);
}

.cadre span:nth-child(2){
  filter: blur(10px);
}

.cadre span:nth-child(3){
  filter: blur(25px);
}

.cadre span:nth-child(4){
  filter: blur(50px);
}

.cadre: after{
  content:'';
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  background-color: #f7cac9;
  border-radius: 50%;
}

aside{
  float: left;
  margin-left: 10px;
  margin-right: 70px;
  border-width:1px;
  border-style:dashed;
  border-color: #d64161;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 5px;
  padding-top: 5px;
}
aside h2{
  text-align: center;
  text-decoration: underline;
}

main aside header{
  font-weight: bold;
}

main aside a{
  font-style:italic;
  font-size: 10px;
}

main article {
  margin-left: 50px;
  margin-right: 10px;
}

main article header{
  font-size: 30px;
  padding-top: 30px;
  font-family: fantasy;
  text-align: center;
  color: #d64161;

}

article p h3{
  display: inline;
}

article p #cc{
  display: inline;
}